@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

.search_box {
	width: 100%;
	position: relative;
}

.search_box input[type='text'] {
	width: 100%;
	padding: 20px;
	padding-right: 60px;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.3);
	font-size: 18px;
	color: #fff;
	outline: none;
}

::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #f38181;
}
::-moz-placeholder {
	/* Firefox 19+ */
	color: #f38181;
}
:-ms-input-placeholder {
	/* IE 10+ */
	color: #f38181;
}

@media screen and (max-width: 425px) {
	.search_box {
		width: 95%;
	}
}
