.button {
	font: inherit;
	padding: 0.5rem 1.5rem;
	border: 1px solid #95e1d3;
	border-radius: 4px;
	background: #95e1d3;
	color: white;
	cursor: pointer;
	margin-right: 1rem;
	text-decoration: none;
	display: inline-block;
}

.button:focus {
	outline: none;
}

.button:hover,
.button:active {
	background: #95e1d3;
	border-color: #95e1d3;
}

.button--inverse {
	background: transparent;
	color: #52eed2;
}

.button--inverse:hover,
.button--inverse:active {
	color: white;
	background: #52eed2;
}

.button--danger {
	background: #46ccb3;
	border-color: #46ccb3;
}

.button--danger:hover,
.button--danger:active {
	background: #3fb8a1;
	border-color: #3fb8a1;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
	background: #ccc;
	color: #979797;
	border-color: #ccc;
	cursor: not-allowed;
}

.button--small {
	font-size: 0.8rem;
}

.button--big {
	font-size: 1.5rem;
}
