@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

.wrapper {
	width: 100%;
	height: 100vh;
	background-size: cover;
	justify-content: center;
	align-items: center;
}

::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #fff;
}
::-moz-placeholder {
	/* Firefox 19+ */
	color: #fff;
}
:-ms-input-placeholder {
	/* IE 10+ */
	color: #fff;
}

@media screen and (max-width: 425px) {
	.search_box {
		width: 95%;
	}
}
